<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-warning"> 
      В форме <%= I18n.t(:bug, count: resource.errors.count) %>:
      <ul>
        <% resource.errors.each do |error| %>
          <li class="ms-2"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
