<% if resource.errors.any? %>
  <%# debugger %>
  <div id="error_explanation">
    <p class="alert alert-warning">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <ul class="alert alert-warning">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
