<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-warning"> 
    В форме <%= I18n.t(:bug, count: errors.count) %>:
    <ul>
      <% errors.each do |error| %>
        <li class="ms-2"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
