<div class="text-center">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user) %>

  <% if @user == current_user %>
    <div class="mt-3 mb-3">
      <%= link_to edit_user_path(@user), class: 'btn', style: 'background-color: #8199A3; color: white;' do %>
        <i class="bi bi-pencil"></i>&nbsp;&nbsp;Редактировать профиль
      <% end %>
    </div>
  <% end %>

  <% if @user.events.any? %>
    <h3>Организовал:</h3>
    <div class="row">
      <%= render partial: 'events/event', collection: @user.events %>
    </div>
  <% else %>
    <p class="buffer-top">Пользователь пока не организовал ни одного события</p>
  <% end %>
</div>
