default: &default
  adapter: postgresql
  encoding: unicode
  database: bbq
  username: deploy
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  database: bbq_test
