<div class="subscription">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= link_to event_subscription_path(subscription.event, subscription), data: { turbo_confirm: t("confirm.subscriptions.destroy"), turbo_method: :delete }, title: "Удалить подписку", style: 'color: #E1B493;' do %>
        <i class="bi bi-eraser-fill"></i>
    <% end %>
  <% end %>
</div>