<p>Добрый день, <%= @resource.name %>!</p>

<p>Кто-то запросил ссылку для смены вашего пароля в приложении "Let's meet". Сменить пароль можно по ссылке ниже</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это письмо отправлено не вами, пожалуйста, проигнорируйте его.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не перейдёте по ссылке выше и не создадите новый.</p>
